.footer {
  .green {
    background-color: $mainColor;
  }
  .black {
    background-color: $textColor;
    .container {
      height: 66px;
      max-width: 1350px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        color: white;
        font-size: 14px;
        font-family: 'NunitoSans';
        text-decoration: none;
      }
      a {
        text-decoration: underline;
        color: white;
        font-size: 14px;
        font-family: 'NunitoSans';
        transition: 0.3s;
        &:hover {
          color: $secondColor;
        }
      }
    }

    @include small-tablet {
      .container {
        height: 84px;
        display: flex;
        justify-content: center;
        align-items: normal;
        flex-wrap: wrap;
        max-width: 390px;
        p {
          margin-bottom: 2px;
        }
        a {
          margin-top: 2px;
        }
      }
    }
  }
  .container {
    display: flex;
    justify-content: center;
    max-width: 1920px;
    .romtibet_company {
      margin-right: 60px;
      .main_text {
        color: white;
        font-size: 20px;
        font-family: 'NunitoSans';
        margin-bottom: 20px;
        margin-top: 178px;
      }
      .text {
        color: white;
        max-width: 480px;
        font-size: 16px;
        font-family: 'NunitoSans';
        margin-bottom: 80px;
        margin-top: 0px;
        line-height: 25px;
      }
      a {
        text-decoration: underline;
        color: white;
        font-size: 14px;
        font-family: 'NunitoSans';
        margin-right: 24px;
        transition: 0.3s;
        &:hover {
          color: $secondColor;
        }
      }
      .vector {
        margin-top: 40px;
        margin-bottom: 80px;
        display: flex;
        align-items: center;
        a {
          margin-right: 20px;
        }
      }
    }
    .our_servises {
      margin-right: 60px;
      p {
        color: white;
        font-size: 20px;
        font-family: 'NunitoSans';
        margin-top: 160px;
        margin-bottom: 20px;
      }
      .serv {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        img {
          width: 6px;
          height: 10px;
        }
        .img_new {
          width: 44px;
          height: 20px;
        }
        a {
          color: white;
          font-size: 14px;
          font-family: 'NunitoSans';
          margin-right: 8px;
          margin-left: 8px;
          transition: 0.3s;
          &:hover {
            color: $secondColor;
          }
        }
      }
    }
    .important_for_travel {
      p {
        color: white;
        font-size: 20px;
        font-family: 'NunitoSans';
        margin-top: 160px;
        margin-bottom: 20px;
      }
      .serv {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        img {
          width: 6px;
          height: 10px;
        }
        a {
          color: white;
          font-size: 14px;
          font-family: 'NunitoSans';
          margin-right: 8px;
          margin-left: 8px;
          transition: 0.3s;
          &:hover {
            color: $secondColor;
          }
        }
      }
    }
    @include tablet {
      .romtibet_company {
        margin-right: 30px;
        .main_text {
          font-size: 16px;
          margin-top: 120px;
        }
        .text {
          font-size: 14px;
          margin-bottom: 50px;
        }
      }
      .our_servises {
        margin-right: 30px;
        p {
          font-size: 16px;
          margin-top: 120px;
        }
        .serv {
          img {
          width: 4px;
          height: 8px;
        }
        .img_new {
          width: 38px;
          height: 16px;
        }
        a {
          margin-right: 6px;
          margin-left: 6px;
        }
        }
      }
      .important_for_travel {
        p {
          font-size: 16px;
          margin-top: 120px;
        }
        .serv {
          img {
          width: 4px;
          height: 8px;
        }
        .img_new {
          width: 38px;
          height: 16px;
        }
        a {
          margin-right: 6px;
          margin-left: 6px;
        }
      }
    }
    @include small-tablet {
      display: flex;
      flex-wrap: wrap;
      max-width: 390px;
      justify-content: flex-start;
      align-items: normal;
      .romtibet_company {
        margin-right: 0px;
        margin-top: 30px;
        margin-bottom: 0px;
        .main_text {
          font-size: 16px;
          margin-top: 50px;
        }
        .text {
          font-size: 14px;
          margin-bottom: 30px;
        }
      }
      .our_servises {
        margin-right: 0px;
        margin-top: -40px;
        margin-bottom: 0px;
          p {
          font-size: 16px;
          margin-top: 30px;
        }
        .serv {
          img {
          width: 4px;
          height: 8px;
        }
        .img_new {
          width: 38px;
          height: 16px;
        }
        a {
          margin-right: 6px;
          margin-left: 6px;
        }
        }
      }
      .important_for_travel {
        margin-top: -40px;
        margin-bottom: 50px;
        p {
          font-size: 16px;
          margin-top: 120px;
        }
        .serv {
          img {
          width: 4px;
          height: 8px;
        }
        .img_new {
          width: 38px;
          height: 16px;
        }
        a {
          margin-right: 6px;
          margin-left: 6px;
        }
      }
    }
  }


}
}

  .actual {
    margin-bottom: -80px;
    .content {
        z-index: 2;
        margin-top: 40px;
        display: flex;
        gap: 64px;
      .text {
        p {
          color: $secondColor;
          font-family: 'NunitoSans';
          font-size: 18px;
          margin-top: 0px;
          margin-bottom: 8px;
        }
        h6 {
          font-family: 'NunitoSans';
          font-size: 26px;
          margin-top: 0px;
          margin-bottom: 0px;
        }
      }
      .form {
        .mail {
          font-family: 'NunitoSans';
          font-size: 16px;
          margin-top: 0px;
          margin-bottom: 8px;
        }
        .input {
          max-height: 30px;
          input {
            height: 44px;
            width: 250px;
            padding-right: 24px;
            padding-left: 24px;
            padding-top: 12px;
            padding-bottom: 12px;
            background-color: #F3F5F4;
            border: 2px solid #F3F5F4;
            font-family: 'NunitoSans';
            font-size: 14px;
            margin-right: 16px;
            border-radius: 4px;
            &:focus {
              outline: none;
              border: 2px solid $mainColor;
            }
          }
          button {
            font-family: 'NunitoSans';
            font-size: 16px;
            border: $mainColor;
            border-radius: 4px;
            background-color: $mainColor;
            color: white;
            padding-right: 24px;
            padding-left: 24px;
            padding-top: 12px;
            padding-bottom: 12px;
            margin-bottom: 24px;
            transition: 0.6s;
            &:hover {
              cursor: pointer;
              background-color: $secondColor;
            }
          }
        }
        .text {
          max-width: 536px;
          color: $textColor;
          font-family: 'NunitoSans';
          font-size: 14px;
          line-height: 20px;
          a {
            color: $textColor;
            font-family: 'NunitoSans';
            text-decoration: underline;
            font-size: 14px;
            transition: 0.6s;
            &:hover {
              color: $secondColor;
            }
          }
        }
      }
    }
    .block {
      position: absolute;
      z-index: 1;
      width: 1180px;
      height: 190px;
      background: white;
      border-radius: 6px;
      box-shadow: 0px 5px 20px -5px rgba(93, 93, 93, 0.5);

    }

    @include tablet {
      margin-bottom: -40px;
      display: flex;
      align-items: center;
      .content {
        margin-top: 30px;
        gap: 50;
        .text {
        p {
          font-size: 16px;
          margin-bottom: 8px;
        }
        h6 {
          font-size: 24px;
        }
      }
      .form {
        .mail {
          font-size: 14px;
          margin-bottom: 6px;
        }
        .input {
          input {
            padding-right: 24px;
            padding-left: 24px;
            padding-top: 12px;
            padding-bottom: 12px;
            font-size: 14px;
            margin-right: 8px;
            margin-bottom: 8px;
          }
          button {
            font-size: 14px;
            padding-right: 24px;
            padding-left: 24px;
            padding-top: 12px;
            padding-bottom: 12px;
          }
        }
        .text {
          max-width: 536px;
          font-size: 12px;
          line-height: 20px;
          a {
            font-size: 12px;
          }
        }
      }
      }
      .block {
      width: 1000px;
      height: 210px;
    }

    }

    @include small-tablet {
      margin-bottom: 40px;
      display: flex;
      align-items: normal;
      .content {
        margin-left: 20px;
        display: block;
        .text {
        p {
          font-size: 16px;
          margin-bottom: 8px;
        }
        h6 {
          font-size: 24px;
          margin-bottom: 18px;
        }
      }
      .form {
        .mail {
          font-size: 14px;
          margin-bottom: 8px;
        }
        .input {
          input {
            padding-right: 140px;
            padding-left: 16px;
            padding-top: 12px;
            padding-bottom: 12px;
            font-size: 14px;
            margin-right: 0px;
            margin-bottom: 16px;
          }
          button {
            font-size: 14px;
            padding-right: 24px;
            padding-left: 24px;
            padding-top: 12px;
            padding-bottom: 12px;
            margin-bottom: 24px;
          }
        }
        .text {
          margin-top: 90px;
          max-width: 536px;
          font-size: 12px;
          line-height: 20px;
          a {
            font-size: 12px;
          }
        }
      }
      }
      .block {
      width: 380px;
      height: 380px;
    }
    }
  }
}
