.impretions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .main_text {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    max-width: 580px;
    justify-content: center;
    .main_p {
      color: $secondColor;
      font-family: 'NunitoSans';
      font-size: 24px;
      margin-top: 0px;
      margin-bottom: 8px;
    }
    .main_h6 {
      color: $textColor;
      font-family: 'NunitoSans';
      font-size: 32px;
      margin-top: 0px;
      margin-bottom: 0px;

    }
  }
  .impretionSwiper {
    display: none;
  }
  .blog_min {
    display: none;
  }
  .blog {
      margin-top: 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 35px;
      max-width: 1255px;
    .kard {
      // @include flex-all-sb;
      display: flex;
      // justify-content: center;
      margin-bottom: 20px;
      max-height: 280px;
      img {
        z-index: 2;
        margin-left: 12px;
        margin-top: 16px;
        border-radius: 6px;
      }
      .block {
        position: absolute;
        z-index: 1;
        width: 560px;
        height: 312px;
        background: white;
        border-radius: 6px;
      }
      .text {
        min-height: 264px;
        display: flex;
        flex-wrap: wrap;
        // align-content: space-between;
        // align-items: flex-start;
        min-width: 294px;
        max-width: 294px;
        margin-left: 18px;
        margin-top: 16px;
        z-index: 2;
        .text_l {
          // max-height: 74px;
          text-decoration: none;
          transition: 0.3s;
          color: $textColor;
          margin-top: 16px;
          margin-bottom: 24px;
          &:hover {
          text-decoration: underline;
          color: $mainColor;
          }
          h6 {
            font-size: 24px;
            font-family: 'NunitoSans';
            margin-top: 0px;
            margin-bottom: 0px;
          }
        }
        .mini_text {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        min-height: 120px;
        max-height: 160px;
        // margin-top: -60px;
        .text_p {
          font-size: 14px;
          font-family: 'NunitoSans';
          margin-top: -30px;
          margin-bottom: 0px;
          color: $textColor;
        }
        }

        .date {
          display: flex;
          justify-content: space-between;
          align-items: end;
          max-height: 36px;
          .date_p {
            font-size: 14px;
            font-family: 'NunitoSans';
            font-weight: bold;
            color: $mainColor;
            margin-top: 0px;
            margin-bottom: 0px;
            color: $secondColor;
          }
          .date_l {
            color: $mainColor;
            font-size: 14px;
            font-family: 'nunito sans';
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 100px;
            transition: 0.6s;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

  }
  button {
    font-family: 'NunitoSans';
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: $mainColor;
    color: white;
    padding-right: 36px;
    padding-left: 36px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 60px;
    margin-bottom: 100px;
    transition: 0.6s;
    &:hover {
      background-color: $secondColor;
    }
  }

  @include tablet {
    max-width: 700px;
    .blog {
      display: none;
    }
    .swiper {
      display: none;
    }
    .blog_min {
      // display: block;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 700px;
      min-width: 400px;
      gap: 25px;
      margin-top: 40px;
      .kard_min {
        display: flex;
        flex-wrap: wrap;
        max-height: 496px;
        max-width: 285px;
        margin-bottom: 25px;
        align-content: flex-start;
        .block_min {
          position: absolute;
          z-index: 0;
          width: 285px;
          height: 496px;
          background: white;
          border-radius: 6px;
        }
        img {
          z-index: 2;
          height: 280px;
        }
        .text {
          z-index: 2;
          max-width: 270px;
          min-width: 270px;
          min-height: 200px;
          margin: 8px;
          display: flex;
          flex-wrap: wrap;
          .text_l {
            text-decoration: none;
            transition: 0.3s;
            color: $textColor;
            margin: 0px;
            &:hover {
            text-decoration: underline;
            color: $mainColor;
            }
            h6 {
              font-size: 20px;
              font-family: 'NunitoSans';
              margin: 0px;
            }
          }
          .mini_text {
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            min-height: 90px;
            max-height: 142px;
            margin-top: 16px;
            margin-bottom: 16px;
            min-width: 270px;
            p {
              margin: 0;
              font-size: 14px;
              font-family: 'NunitoSans';
              margin-top: -20px;
              margin-bottom: 0px;
              color: $textColor;
            }
          }
          .date {
            display: flex;
            justify-content: space-between;
            align-items: end;
            max-height: 36px;
            min-width: 270px;
            p {
              font-size: 14px;
              font-family: 'NunitoSans';
              font-weight: bold;
              color: $mainColor;
              margin-top: 0px;
              margin-bottom: 0px;
              color: $secondColor;
            }
            a {
              color: $mainColor;
              font-size: 14px;
              font-family: 'nunito sans';
              margin-top: 0px;
              margin-bottom: 0px;
              transition: 0.6s;
              &:hover {
              text-decoration: underline;
              }
            }
          }
        }
      }
    }
    button {
      margin-top: 40px;
      margin-bottom: 80px;
    }
  }
  @include small-tablet {

    .main_text {
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 280px;
    .main_p {
      font-size: 16px;
    }
    .main_h6 {
      font-size: 24px;

    }
  }

    .blog_min {
      display: none;
    }
    .mySliderImpretion {
      display: block;
    }
    .kard_slide {
      width: 100%;
      display: flex;
      justify-content: center;
      .kard_min {
        display: flex;
        flex-wrap: wrap;
        max-height: 496px;
        max-width: 285px;
        margin-bottom: 25px;
        align-content: flex-start;
        .block_min {
          position: absolute;
          z-index: 0;
          width: 285px;
          height: 496px;
          background: white;
          border-radius: 6px;
        }
        img {
          z-index: 2;
          height: 280px;
        }
        .text {
          z-index: 2;
          max-width: 270px;
          min-width: 270px;
          margin: 8px;
          min-height: 200px;
          display: flex;
          flex-wrap: wrap;
          .text_l {
            text-decoration: none;
            transition: 0.3s;
            color: $textColor;
            margin: 0px;
            &:hover {
            text-decoration: underline;
            color: $mainColor;
            }
            h6 {
              font-size: 20px;
              font-family: 'NunitoSans';
              margin: 0px;
            }
          }
          .mini_text {
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            max-height: 142px;
            min-height: 90px;
            min-width: 270px;
            margin-top: 16px;
            margin-bottom: 16px;
            p {
              margin: 0;
              font-size: 14px;
              font-family: 'NunitoSans';
              margin-top: -14px;
              margin-bottom: 0px;
              color: $textColor;
            }
          }
          .date {
            display: flex;
            justify-content: space-between;
            align-items: end;
            min-width: 270px;
            max-height: 36px;
            p {
              font-size: 14px;
              font-family: 'NunitoSans';
              font-weight: bold;
              color: $mainColor;
              margin-top: 0px;
              margin-bottom: 0px;
              color: $secondColor;
            }
            a {
              color: $mainColor;
              font-size: 14px;
              font-family: 'nunito sans';
              margin-top: 0px;
              margin-bottom: 0px;
              transition: 0.6s;
              &:hover {
              text-decoration: underline;
              }
            }
          }
        }
      }

    }

    button {
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 32px;
    margin-bottom: 50px;
  }

  }
}
