<footer class="footer">
  <div class="container actual">
    <div class="block"></div>
    <div class="content">
      <div class="text">
        <p>актуально</p>
        <h6>Получайте полезные <br> рассылки о путешествиях</h6>
      </div>
      <div class="form">
        <p class="mail">Введите e-mail адрес</p>
        <div class="input">
          <input type="email" placeholder="name@domain.com">
          <button>Подписаться на новости</button>
        </div>
        <p class="text">подписываясь на новости, вы автоматически соглашаетесь с
          <span><a href="">условиями обработки персональных данных</a></span> и
          <span><a href="">правилами рекламных рассылок</a></span>  </p>
      </div>
    </div>
  </div>

<div class="green">
  <div class="container">
    <div class="romtibet_company">
      <p class="main_text">Компания «РумТибет»</p>
      <p class="text">Его корни уходят в один фрагмент классической латыни 45 года
            н.э., то есть более двух тысячелетий назад. Ричард МакКлинток,
            профессор латыни из колледжа Hampden-Sydney.</p>
      <a href="#">info@domain.com</a>
      <a href="#">+7 (123) 456-78-90</a>
      <div class="vector">
          <a href="#"><img src="../img/svg/tg.svg" alt=""></a>
          <a href="#"><img src="../img/svg/vk.svg" alt=""></a>
          <a href="#"><img src="../img/svg/pin.svg" alt=""></a>
          <a href="#"><img src="../img/svg/S.svg" alt=""></a>
      </div>
    </div>
    <div class="our_servises">
      <p>Наши услуги</p>
      <div class="serv">
          <img src="../img/svg/стрелочка.svg" alt="">
          <a href="#">Прогулки в горы летом</a>
      </div>
      <div class="serv">
          <img src="../img/svg/стрелочка.svg" alt="">
          <a href="#">Зимние походы в горы</a>
      </div>
      <div class="serv">
          <img src="../img/svg/стрелочка.svg" alt="">
          <a href="#">Посещение храмов в горах</a>
      </div>
      <div class="serv">
          <img src="../img/svg/стрелочка.svg" alt="">
          <a href="#">Экстремальные виды туризма</a>
      </div>
      <div class="serv">
          <img src="../img/svg/стрелочка.svg" alt="">
          <a href="#">Походы в джунглях Амазонии</a>
          <img src="../img/svg/new.svg" alt="" class="img_new">
      </div>
      <div class="serv">
          <img src="../img/svg/стрелочка.svg" alt="">
          <a href="#">Поездка в Африку</a>
      </div>
    </div>
    <div class="important_for_travel">
      <p>Важно для путешествий</p>
      <div class="serv">
          <img src="../img/svg/стрелочка.svg" alt="">
          <a href="#">Как собрать в долгий поход?</a>
      </div>
      <div class="serv">
          <img src="../img/svg/стрелочка.svg" alt="">
          <a href="#">Жизненно важные предметы для похода</a>
      </div>
      <div class="serv">
          <img src="../img/svg/стрелочка.svg" alt="">
          <a href="#">Медицинская страховка, гарантии безопасности</a>
      </div>
      <div class="serv">
          <img src="../img/svg/стрелочка.svg" alt="">
          <a href="#">Если вы врач - загляните сюда</a>
      </div>
    </div>
  </div>
</div>
<div class="black">
  <div class="container">
    <p>ИП Константинопольский К.К., 2023</p>
    <a href="#">Политика обработки персональных данных</a>
  </div>
</div>
</footer>
