<header class="header">
  <div class="container">

      <a href="#" class="header__logo"><img src="../img/svg/Лого.svg" alt=""></a>

      <button class="btn-reset burger"
          aria-label="Открыть меню"
          aria-expanded="false"
          data-burger>
        <span class="burger__line"></span>
      </button>

      <nav class="header__nav" data-menu>
        <ul class="header__list">
          <li><a href="#main" class="header__link" data-menu-item><img src="../img/svg/стрелочка.svg" alt="">Главная</a></li>
          <li><a href="#about" class="header__link" data-menu-item><img src="../img/svg/стрелочка.svg" alt="">Про Гида</a></li>
          <li><a href="#services" class="header__link" data-menu-item><img src="../img/svg/стрелочка.svg" alt="">Программа Тура</a></li>
          <li><a href="#contacts" class="header__link" data-menu-item><img src="../img/svg/стрелочка.svg" alt="">Стоимость</a></li>
          <li><a href="#contacts" class="header__link" data-menu-item><img src="../img/svg/стрелочка.svg" alt="">Блог</a></li>
          <li><a href="#contacts" class="header__link" data-menu-item><img src="../img/svg/стрелочка.svg" alt="">Контакты</a></li>
        </ul>
          <button>Консультация</button>
      </nav>
  </div>

  <div class="container container_two">
    <h1>Насладись прогулкой в горах <br> с командой единомышленников</h1>
    <div class="tours">
      <div class="form_touer">

        <div class="select">
          <select name="" id="">
            <option value="">Локации для тура</option>
            <option value="">Алтай</option>
          </select>
          <p>выберете из списка</p>
        </div>
        <div class="select">
            <input type="date" id="Date" name="Date" >
          <p>укажите дату похода</p>
        </div>
        <div class="select">
          <select name="" id="">
            <option value="">Участники</option>
            <option value="">4 человека</option>
          </select>
          <p>минимум 4 человека</p>
        </div>
        <button>Найти Программу</button>
      </div>

    </div>
  </div>

</header>
