<div class="container">
    <div class="hike">
        <img src="../img/о походе.png" alt="" class="img_desk">
        <img src="../img/о походе(tab_mob).png" alt="" class="img_tab">
        <div>
            <p class="main_p">о нашем походе</p>
            <h4>Исследуйте все горные массивы мира вместе с нами</h4>
            <p class="des_p">Его корни уходят в один фрагмент классической латыни 45 года
                н.э., то есть более двух тысячелетий назад. Ричард МакКлинток,
                профессор латыни из колледжа Hampden-Sydney, штат
                Вирджиния, взял одно из самых странных слов в Lorem Ipsum,
                "consectetur"и занялся его поисками в классической латинской
                литературе.</p>
            <div class="button"><button>Программа тура</button></div>
        </div>
        <div class="img"><img src="../img/о походе(tab_mob).png" alt="" class="img_mob"></div>
    </div>
</div>
