<div class="gray">
  <div class="container">
    <div class="impretions">
      <div class="main_text">
        <p class="main_p">делимся впечатлениями</p>
        <h6 class="main_h6">Блог о путешествиях</h6>
      </div>
      <div class="blog">
        <div class="kard">
          <div class="block"></div>
            <img src="../img/Италия.png" alt="">
            <div class="text">
                <a href="#" class="text_l"><h6>Красивая Италя, какая <br> она в реальности?</h6></a>
              <div class="mini_text">
                <p class="text_p">Для современного мира базовый вектор <br>
                      развития предполагает независимые <br>
                      способы реализации соответствующих<br>
                      условий активизации.</p>
                <div class="date">
                    <p class="date_p">01/04/2023</p>
                    <a href="#" class="date_l">читать статью</a>
                </div>
              </div>
            </div>
        </div>
        <div class="kard">
          <div class="block"></div>
          <img src="../img/италия_2.png" alt="">
          <div class="text">

              <a href="#" class="text_l"><h6>Как подготовиться к <br>путешествию в <br>одиночку? </h6></a>
            <div class="mini_text">
              <p class="text_p">Для современного мира базовый вектор<br> развития предполагает.</p>
              <div class="date">
                  <p class="date_p">01/04/2023</p>
                  <a href="#" class="date_l">читать статью</a>
              </div>
            </div>
          </div>
        </div>
        <div class="kard">
          <div class="block"></div>
          <img src="../img/летим.png" alt="">
          <div class="text">

              <a href="#" class="text_l"><h6 >Долой сомнения! Весь <br>мир открыт для вас!</h6></a>
            <div class="mini_text">
              <p class="text_p">Для современного мира базовый вектор <br>
                  развития предполагает независимые<br>
                    способы реализации соответствующих <br>
                    условий активизации ... независимые <br>
                    способы реализации соответствующих усл...</p>

              <div class="date">
                  <p class="date_p">01/04/2023</p>
                  <a href="#" class="date_l">читать статью</a>
              </div>
            </div>
          </div>
        </div>
        <div class="kard">
          <div class="block"></div>
          <img src="../img/индия.png" alt="">
          <div class="text">
              <a href="#" class="text_l"><h6 class="india_h6">Индия ... летим?</h6></a>
              <div class="mini_text">
              <p class="text_p">Для современного мира базовый.</p>
              <div class="date">
                  <p class="date_p">01/04/2023</p>
                  <a href="#" class="date_l">читать статью</a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="blog_min">
        <div class="kard_min">
          <div class="block_min"></div>
          <img src="../img/blog_min/фото1.png" alt="">
          <div class="text">
            <a href="#" class="text_l"><h6>Красивая Италя, какая она в реальности?</h6></a>
            <div class="mini_text">
              <p>Для современного мира базовый вектор
                развития предполагает независимые
                способы реализации соответствующих
                условий активизации.</p>

              <div class="date">
                <p>01/04/2023</p>
                <a href="#">читать статью</a>
              </div>
            </div>
          </div>
        </div>
        <div class="kard_min">
          <div class="block_min"></div>
          <img src="../img/blog_min/фото2.png" alt="">
          <div class="text">
            <a href="#" class="text_l"><h6>Как подготовиться к путешествию в одиночку?</h6></a>
            <div class="mini_text">
              <p>Для современного мира базовый вектор развития предполагает.</p>

              <div class="date">
                <p>01/04/2023</p>
                <a href="#">читать статью</a>
              </div>
            </div>
          </div>
        </div>
        <div class="kard_min">
          <div class="block_min"></div>
          <img src="../img/blog_min/фото3.png" alt="">
          <div class="text">
            <a href="#" class="text_l"><h6>Долой сомнения! Весь мир открыт для вас!</h6></a>
            <div class="mini_text">
              <p>Для современного мира базовый вектор
                развития предполагает независимые
                способы реализации соответствующих
                условий активизации ... независимые
                способы реализации соответствующих усл...</p>

              <div class="date">
                <p>01/04/2023</p>
                <a href="#">читать статью</a>
              </div>
            </div>
          </div>
        </div>
        <div class="kard_min">
          <div class="block_min"></div>
          <img src="../img/blog_min/фото4.png" alt="">
          <div class="text">
            <a href="#" class="text_l"><h6>Индия ... летим?</h6></a>
            <div class="mini_text">
              <p>Для современного мира базовый.</p>

              <div class="date">
                <p>01/04/2023</p>
                <a href="#">читать статью</a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="swiper mySliderImpretion">
        <div class="swiper-wrapper">
          <div class="swiper-slide">

            <div class="kard_slide">
              <div class="kard_min">
                <div class="block_min"></div>
                <img src="../img/blog_min/фото1.png" alt="">
                <div class="text">
                  <a href="#" class="text_l"><h6>Красивая Италя, какая она в реальности?</h6></a>
                  <div class="mini_text">
                    <p>Для современного мира базовый вектор
                      развития предполагает независимые
                      способы реализации соответствующих
                      условий активизации.</p>
                  </div>
                  <div class="date">
                    <p>01/04/2023</p>
                    <a href="#">читать статью</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="swiper-slide">

            <div class="kard_slide">
              <div class="kard_min">
                <div class="block_min"></div>
                <img src="../img/blog_min/фото2.png" alt="">
                <div class="text">
                  <a href="#" class="text_l"><h6>Как подготовиться к путешествию в одиночку?</h6></a>
                  <div class="mini_text">
                    <p>Для современного мира базовый вектор развития предполагает.</p>
                  </div>
                  <div class="date">
                    <p>01/04/2023</p>
                    <a href="#">читать статью</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="swiper-slide">

            <div class="kard_slide">
              <div class="kard_min">
                <div class="block_min"></div>
                <img src="../img/blog_min/фото3.png" alt="">
                <div class="text">
                  <a href="#" class="text_l"><h6>Долой сомнения! Весь мир открыт для вас!</h6></a>
                  <div class="mini_text">
                    <p>Для современного мира базовый вектор
                      развития предполагает независимые
                      способы реализации соответствующих
                      условий активизации ... независимые
                      способы реализации соответствующих усл...</p>
                  </div>
                  <div class="date">
                    <p>01/04/2023</p>
                    <a href="#">читать статью</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="swiper-slide">

            <div class="kard_slide">
              <div class="kard_min">
                <div class="block_min"></div>
                <img src="../img/blog_min/фото4.png" alt="">
                <div class="text">
                  <a href="#" class="text_l"><h6>Индия ... летим?</h6></a>
                  <div class="mini_text">
                    <p>Для современного мира базовый.</p>
                  </div>
                  <div class="date">
                    <p>01/04/2023</p>
                    <a href="#">читать статью</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <button>Другие материалы</button>
    </div>
  </div>
</div>
