<div class="container">
  <div class="report">

    <div class="text">
      <p>фото-отчет</p>
      <h6>Делимся впечатлениями</h6>
<!--
      <div class="photo">
        <img src="../img/фото1.png" alt="">
        <img src="../img/фото2.png" alt="">
        <img src="../img/фото3.png" alt="">
        <img src="../img/фото4.png" alt="">
        <img src="../img/фото5.png" alt="">
        <img src="../img/фото6.png" alt="">
      </div>
    </div> -->

      <div id="lightgallery" class="lightGalery">
        <a href="../img/фото1-light.png">
          <img src="../img/фото1.png" alt="">
        </a>
        <a href="../img/фото2-light.png">
          <img src="../img/фото2.png" alt="">
        </a>
        <a href="../img/фото3-light.png">
          <img src="../img/фото3.png" alt="">
        </a>
        <a href="../img/фото4-light.png">
          <img src="../img/фото4.png" alt="">
        </a>
        <a href="../img/фото5-light.png">
          <img src="../img/фото5.png" alt="">
        </a>
        <a href="../img/фото6-light.png">
          <img src="../img/фото6.png" alt="">
        </a>
      </div>

    <div class="swiper mySlider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="../img/слайдер/слайд1.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="../img/слайдер/слайд2.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="../img/слайдер/слайд3.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="../img/слайдер/слайд4.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="../img/слайдер/слайд5.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="../img/слайдер/слайд6.png" alt="">
        </div>
      </div>
    </div>

      <div class="button"><button>Наш pinterest</button></div>
  </div>
</div>
