<div class="gray">
  <div class="container">
    <div class="all_content">
      <div class="content">
        <p class="main_p">наше предложение</p>
        <h4>Лучшие программы для тебя</h4>
        <p class="text_p">Его корни уходят в один фрагмент классической латыни 45 года
          н.э., то есть более двух тысячелетий назад. Ричард МакКлинток,
          профессор латыни из колледжа.</p>

          <div class="offers">
            <img src="../img/svg/гид.svg" alt="">
            <div class="text">
              <h6>Опытный гид</h6>
              <p>Для современного мира базовый вектор развития предполагает
                независимые способы реализации соответствующих условий активизации.</p>
            </div>
          </div>
          <div class="offers">
            <img src="../img/svg/поход.svg" alt="">
            <div class="text">
              <h6>Безопасный поход</h6>
              <p>Для современного мира базовый вектор развития предполагает
                независимые способы реализации соответствующих условий активизации.</p>
            </div>
          </div>
          <div class="offers">
            <img src="../img/svg/цены.svg" alt="">
            <div class="text">
              <h6>Лояльные цены</h6>
              <p>Для современного мира базовый вектор развития предполагает
                независимые способы реализации соответствующих условий активизации.</p>
            </div>
          </div>
          <button>Стоимость программ</button>
      </div>
      <div class="img">
        <img src="../img/Rectangle 8.png" alt="">
        <img src="../img/Rectangle 9.png" alt="">
        <img src="../img/Rectangle 10.png" alt="" class="img_tab">
        <img src="../img/Rectangle 11.png" alt="" class="img_tab">
      </div>
    </div>
  </div>
</div>
