// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/main";
@import "./components/footer";
@import "./components/hike";
@import "./components/travel";
@import "./components/popular";
@import "./components/impretions";
@import "./components/report";

// тестовые стили, удалите их

